{% extends 'base.html.twig' %}
{% block navigation %}
    {{ render(controller('AppBundle:Category:showCategories')) }}
{% endblock %}
{% block body %}

    <h2>Name: {{ promotion.name }} </h2>
    <h2>Discount: {{ promotion.discount }} % </h2>
    <h2>Start Date: {{ promotion.startDate|date('Y-m-d') }} </h2>
    <h2>End Date: {{ promotion.endDate|date('Y-m-d') }} </h2>
    {% if promotion.isValid %}
        <h2 style="color: #66dd66;">valid</h2>
    {% else %}
        <h2 style="color: red;">invalid</h2>
    {% endif %}


{% endblock %}

