{% extends 'base.html.twig' %}
{% block navigation %}
    {{ render(controller('AppBundle:Category:showCategories')) }}
{% endblock %}

{% block body %}
    <div class="col-md-4 col-md-offset-4">

        {{ form_start(productForm) }}
        {{ form_row(productForm.name, {'label':'Име'}) }}
        {{ form_row(productForm.price, {'label':'Цена'}) }}
        <div class="form-group">
            <label for="disabledSelect">Категории</label>
            <select class="form-control" name="user_product[categoryId]">
                {% for category in categories %}
                    {% if category.id == currentProduct.category.id %}
                        <option selected value="{{ category.id }}">{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        {{ form_row(productForm.quantity, {'label':'Количество'}) }}
        {{ form_row(productForm.isSell, {'label':'Продава се'}) }}
        {{ form_row(productForm.Submit, {'label':'Запази'}) }}

        {{ form_end(productForm) }}
    </div>
{% endblock %}