{% extends 'base.html.twig' %}
{% block navigation %}
    {{ render(controller('AppBundle:Category:showCategories')) }}
{% endblock %}

{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <h2 style="text-align: center"> Количка </h2>
        {% for product in products %}


            {% if product.quantity >= 1 %}

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">${{ product.price }}</h4>
                            <h4><a href="{{ path("show_current_product", {'id':product.id}) }} ">{{ product.name }}</a>
                            </h4>
                            <h4 class="pull-right">${{ product.newPrice }}</h4>
                            <h4>Нова цена: </h4>
                            <p>Количество: {{ product.quantity }}</p>
                            <p>Категория: {{ product.category.name }}</p>
                            <button class="pull-left btn btn-warning" style="display: block">
                                <a href=" {{ path("show_current_product", {'id':product.id}) }} ">Разгледай</a>
                            </button>
                            <a href="{{ path("remove_product_from_cart",{'userId': app.user.id, 'productId': product.id}) }}">
                                <button class="pull-right btn btn-primary">Изтрии</button>
                            </a>
                            <p class="">. </p>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}


    </div>
{% endblock %}